.tool-bar{
    width: 100vw;
    min-height: 20px;
    position: fixed;  
    top: 0; 
    background-color: white;
    padding: 5px;
    margin-right: 5px;
    margin-top: 0px;
    border: 2px double;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2,22px) 1fr; /*button size*/
    row-gap: 5px;
    justify-content: left;
    box-sizing: border-box;
    z-index: 1000;
    
}


button{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

.shapes #shape-select{
    width:100px;
    position:inherit;
    top: 50px;  /* 50px from the top of the nearest positioned ancestor */
    left: 100px;
    text-align: center;
    background-color: black;
    color: white;
    
    
}